<html layout:decorate="~{boardLayout}">
    <!-- board list style CSS -->
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${boardQuestion.boardQuestionSubject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${boardQuestion.boardQuestionContent}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                    	<span th:if="${boardQuestion.author != null}" th:text="${boardQuestion.author.nickname}"></span>
                	</div>
                    <div th:text="${#temporals.format(boardQuestion.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(boardQuestion.boardAnswerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3 answer" th:each="answer : ${boardQuestion.boardAnswerList}">
        <div class="card-body">
          <div class="card-text" style="white-space: pre-line;" th:text="${answer.boardAnswerContent}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                	 <div class="mb-2">
                    	<span th:if="${answer.author != null}" th:text="${answer.author.nickname}"></span>
                	</div>
                	<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div> 
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form  sec:authorize="isAuthenticated()" th:action="@{|/boardAnswer/create/${boardQuestion.boardQuestionId}|}" th:object="${boardAnswerForm}" method="post" class="my-3">
        <div th:replace="~{boardForm_errors :: formErrorsFragment}"></div>
        <textarea th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2" >
    </form>
</div>

</html>