<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
        <link rel="stylesheet" th:href="@{/CartPage.css}">
        <link rel="stylesheet" th:href="@{/fragment.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- ***************************************************** MODAL
     ***************************************************** -->
<div th:replace="~{modal :: modalFragment}"></div>
     <!-- ***************************************************** Header_Content 
     ***************************************************** -->
     <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- 섹션 시작 -->
    <section>
        <div class="cartContainer">
            <div class="cartItem top">
                <div class="cartAllCheck"><input type="checkbox" name="selectall" onclick="selectAll(this)"></div>
                <div class="cartImage">아 여긴 뭐 넣지</div>
                <div class="cartName">강의 제목</div>
                <div class="cartCategory">카테고리</div>
                <div class="cartPrice">가격</div>
                <div class="cartLevel">난이도</div>
            </div>
            <div th:each="course : ${courseList}" class="cartItem">
                <div class="cartCheck"><input type="checkbox" name="cartbox" onclick="checkSelectAll(this)" th:value="${course.courseKey}"></div>
                <div class="cartImage">
                    <img th:each="file : ${course.fileList}" th:if ="${#strings.contains(file.fileurl,'Thumbnail')}" th:src="@{|/image/Thumbnail/${file.filename}|}">
                    <img th:each="file : ${course.fileList}" th:if ="${#strings.isEmpty(file.fileOriName)}" src="/image/noimage.png"></div>
                <div th:text="${course.title}" class="cartName"></div>
                <div th:text="${course.category}" class="cartCategory"></div>
                <div th:text="${course.price}" class="cartPrice"></div>
                <div th:text="${course.level}" class="cartLevel"></div>
            </div>
            
        </div>

        <div class="btn">
            <button class="keepbtn">쇼핑 계속하기</button>
            <form id="myForm" action="/payment" method="get">
        <!--   <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/> -->
        <!-- 일단 지금 csrf 쓰면 안 될 것 같아서 여기 메서드랑 Payment 컨트롤러쪽도 get으로 변경 -->
                <input type="hidden" name="data" id="jsonData">
                <button type="submit" class="orderbtn">구매하기</button>
            </form>
        </div>
    </section>

   <!-- ***************************************************** FOOTER
     ***************************************************** -->
    <footer th:replace="~{footer :: footerFragment}"></footer>
 

    <script th:src="@{/CartPage.js}"></script>
    <script th:src="@{/fragment.js}"></script>
</body>
</html>