<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수강신청</title>
       <link rel="stylesheet" th:href="@{/CourseRegistration.css}">
       <link rel="stylesheet" th:href="@{/fragment.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>
</head>

<body>
	<div th:replace="~{modal :: modalFragment}"></div>
    <!-- ************** Header_Content********************** -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>

	 <!--*****************강의 상세 내용 부분***************************-->  
    <!-- Main banner -->

    <div class="whole">

            <section class="promo">
            	<img th:each="file : ${course.fileList}" th:if ="${#strings.contains(file.fileurl,'banner')}" th:src="@{|/image/banner/${file.filename}|}">
	            <img th:each="file : ${course.fileList}" th:if ="${#strings.isEmpty(file.fileOriName)}" src="/image/noimage.png">
                <div class="banner-text">
                    <h1 th:text="${course.bannerText}"></h1>
                </div>
            </section>

            <!--*****************본문***************************-->   
    	<main>
	        <div class="left-screen">		
	            <!-- Text Header -->
	            <div class="text-header">
	                <ul class="text-headerNav">
	                    <li><a href="#title1">강의 소개</a></li>
	                    <li><a href="#title2">강사 소개</a></li>
	                    <li><a href="#title3">커리큘럼</a></li>
	                    <li><a href="#title4">수강평</a></li>
	                </ul>
	            </div>
	
	            <!-- Main description -->
	            <section class="descript">
	                <p class="subheading" th:text="${course.title}"></p>
	                <h3 th:text="${course.mainContent}"></h3>
	                <h2>강의 목표</h2>
	                <ol>
	                    <li th:text="${course.Objective}"></li>
	                </ol>
	
	                <h2 id="title2">강사 소개</h2>
	                <div>
	                    <img src="image/chefloopy.JPG" alt="loopy icon" class="instructor-img">
	                </div>
	
	                <p class="instructor-introduction">
	                <h3 th:text="${member.mname}"></h3>
	                </p>
	                <br>
	                <p><strong>[경력사항]</strong></p>
	               	<ul th:each="career : ${member.careerList}"> 
    				<li th:text="|${career.year}  ${career.careerText}|"></li>
    				</ul>
	                    
	                <h2 id="title3">강의 커리큘럼</h2>
	                <ol th:each="lecture : ${course.lectureList}" style="list-style-type:decimal" start="1">
						<!-- lecture.lectureKey가 each문때문에 ol에서만 인식하므로 어쩔 수 없이 ol 태그 내에 하기 div 삽입함.. -->
						<div id="free2" th:text="${lecture.lectureKey}"style="visibility: hidden;"></div>
						<!--강의 제목 클릭 시 강의화면으로 전환-->
	                    <a th:href="@{|/course/${course.courseKey}/view/${lecture.lectureKey}|}"><li th:text ="${lecture.title}"></li></a>
	                 </ol>
	                 
	                <div class = "review-header">
	                    <h2 id="title4">수강평</h2>
	                    <div class="rate-button">
	                        <div class="rate-btn">
	                            <a th:href="@{|/course/${course.courseKey}/reviewcreate|}">
	                                리뷰 작성하기
	                            </a>
	                        </div>
	                    </div>
	                </div>         
	
	                <div class="star-rate">
	                    <div class="point"></div>
	                    <div class="starimg">
	                        ☆☆☆☆☆
	                        <div class="starcolor">★★★★★</div>
	                    </div>
	                 </div>
	                
	                <div class="reviewContainer">
	                    <ul th:each="review : ${course.courseReviewList}">
	                        <div class="review-el">
	                            <h3 th:text="${review.title}"></h3> <!--리뷰 제목-->
	                            <div class="review-rate-container">
	                                <div class="review-rate-star">
	                                    ☆☆☆☆☆
	                                    <div class="review-rate-color" th:style="'width:' + (${review.rate} / 5 * 100) + '%'">★★★★★</div>
	                                </div>
	                                <li class="review-rate" th:text="${review.rate}"></li> <!-- 별점 표시 -->
	                            </div>
	                            <li th:text="${review.content}"></li> <!--리뷰 내용 작성-->
	                    </div>
	                    </ul>
	                </div>
	            </section>
	        </div>
	
	        <!--*****************강의 고정형 부분******************* -->
	        <div class="right-screen">
	            <div class="right-con">
	                <h2 id="title1" th:text="${course.title}"></h2> <!--강의 제목-->
	                <ul class="lecture-pay-Nav"> <!--강의 가격 -->
	                	<!-- 가격이 null값이 아닐 경우 금액 반환-->             
	                    <li th:if ="${not #strings.isEmpty(course.price)}"  th:text="|월 ${#numbers.formatInteger(course.price, 0, 'COMMA')}원|"></li> <!--금액 천단위 콤마 설정-->
						<li th:if ="${#strings.isEmpty(course.price)}" th:text="|무료|"> <!-- 가격이 null값일 경우 ''무료' 반환'-->
	                </ul>

	                <!--**********************Button*************************-->
	                <div class="button">
	                <!--th:text 사용 시 "${course.courseKey}" 형태의 값이 그대로 들어가므로 th:attr 사용
	                	   th:attr -> HTML 요소에 속성을 추가하거나 변경하는데 사용되는 속성-->
				    	<a><div class="free" id="free1" th:attr="freeCourseKey=${course.courseKey}">수강신청</div></a>
               			<a th:href="@{|/course/${course.courseKey}/addcart|}"><div class="Btn">장바구니 추가</div></a>
                		 <!--9월 10일 박호선 장바구니 추가 만드려고 바꿔보는 중-->
                		
                		 <!--th:if = "${member.instructorYn == Y}"-->
                			<a  th:href="@{|/course/${course.courseKey}/addLecture|}"><div class="Btn">영상 추가</div></a>
                		 
            		</div>     
	            </div>
	        </div>
    	</main>    
    </div>
    

    <!-- ***************************************************** FOOTER
     ***************************************************** -->
    <footer th:replace="~{footer :: footerFragment}"></footer>
    <!-- ***************************************************** MODAL
     ***************************************************** -->
	
    <script th:src="@{/CourseRegistrationModule.js}"></script>
    <script th:src="@{/CourseRegistartion.js}"></script>
    <script th:src="@{/fragment.js}"></script>
</body>

</html>