<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 등록</title>
    <link rel="stylesheet" th:href="@{/CreateCourse.css}">
    <link rel="stylesheet" th:href="@{/fragment.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>

</head>
<body>
	<div th:replace = "~{modal :: modalFragment}"></div >
    <!-- ***************************************************** Header_Content 
     ***************************************************** -->
   <nav th:replace = "~{navbar :: navbarFragment}"></nav>
    <!-- ***************************************************** Main_Content 
    ***************************************************** -->
    <div class="main">
        <div class="sectionBody">
        	<div id="write_area">
            	<form th:action="@{/create}" th:object = "${courseForm}" method="post" enctype="multipart/form-data">
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                    <div class="sectionHeader">
                        <h4>강좌 등록</h4>
                        <button type="submit">다음</button>
                    </div>
                    <div class="section title">
                        <div class="selectBar">
                            <div class="title category">
                                <select th:field="*{category}" id="language">
                                    <option value="" disabled selected>-- 카테고리 --</option>
                                    <option value="java">자바</option>
                                    <option value="js">자바스크립트</option>
                                    <option value="python">파이썬</option>
                                    <option value="C">C언어</option>
                                </select>
                            </div>
                            <div class="top level">
                                <select th:field="*{level}" id="level">
                                    <option value="" disabled selected>--- 레벨 ---</option>
                                    <option value="1">LV.1</option>
                                    <option value="2">LV.2</option>
                                    <option value="3">LV.3</option>
                                </select>
                            </div>
                        </div>
                        <div class="banner img">
                        	<span>썸네일 이미지</span>
                            <input th:field="*{file1}"  type="file" name="thumbnail" />
                        </div>
                       	<div class="inTitle">
                            	<textarea th:field="*{title}" id="title" placeholder="제목을 입력해주세요" maxlength="100" required></textarea>
                        </div>
                    </div>
                    <div>
                    
                    </div>
                    <div class="section banner">
                    	<div class="banner img">
                        	<span>배너 이미지</span>
                            <input th:field="*{file2}"  type="file" name="bannerimg" />
                        </div>
                        <div class="banner Text">
                            <textarea th:field="*{bannerText}" id="banner_text"  placeholder="배너에 들어갈 문구를 입력해주세요." required></textarea>
                        </div>
                    </div>
                    <div class="section main">
                        <textarea th:field="*{mainContent}" id="maincontent"  placeholder="강의에 대해 설명해주세요." required></textarea>
                    </div>
                    <div class="section objective">
                        <div id="in_content">
                            <textarea th:field="*{objective}" id="ucontent"  placeholder="강의 목표를 입력해주세요." required></textarea>
                        </div>
                    </div>
                    <div class="section price">
                    	<span>수강료를 설정해주세요.</span>
                    	<div class="price checkbox">
               				<input type="radio" value="0" name="payment" id="free" checked>
                			<label class="checkbtn" for="free">무료</label>
                			<input type="radio" name="payment" id="nofree">
                			<label class="checkbtn" for="nofree">유료</label>
            			</div>
            			<div class = "nofree">
                				<span>1개월&nbsp/&nbsp</span>
                				<input type="text" th:field="*{price}" placeholder="원">
                		</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
        <!-- ***************************************************** FOOTER
     ***************************************************** -->
        <footer th:replace = "~{footer :: footerFragment}"></footer>
       <!-- ***************************************************** MODAL
     ***************************************************** -->    
     
    <script th:src="@{/CreateCourseModule.js}"></script>
    <script th:src="@{/fragment.js}"></script>
</body>
</html>