<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 등록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fragment.css}">
    <link rel="stylesheet" th:href="@{/CreateQuiz.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- 로그인 모달창 타임리프-->
    <div th:replace="~{modal :: modalFragment}"></div>

    <!-- 메인 네비바 타임리프 -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>


    <!--  Main_Content 시작-->
    <div class="main">
        <div class="sectionBody">
            <div id="write_area">
                <form th:action="@{/createquiz}" th:object="${quizForm}" method="post">
                    <!--enctype="multipart/form-data"-->
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                    <div class="sectionHeader">
                        <h4>퀴즈 등록</h4>
                        <button type="submit">다음</button>
                    </div>
                    <div class="section title">
                        <div class="selectBar">
                            <div class="quizcategory">
                                <select th:field="*{category}">
                                        <option value="">-- 카테고리 선택 --</option>
                                        <option value="java">자바</option>
                                        <option value="js">자바스크립트</option>
                                        <option value="python">파이썬</option>
                                        <option value="C">C언어</option>
                                    </select>
                            </div>
                            <div class="quizlevel">
                                <select th:field="*{quizLevel}">
                                        <option value="">-- 난이도 선택 --</option>
                                        <option value="Lv. 1">1</option>
                                        <option value="Lv. 2">2</option>
                                        <option value="Lv. 3">3</option>
                                        <option value="Lv. 4">4</option>
                                        <option value="Lv. 5">5</option>
                                    </select>
                            </div>
                        </div>

                        <div class="inTitle">
                            <div class="sectiontitle">제목*</div>
                            <textarea th:field="*{quizTitle}" name="title" id="utitle" placeholder="제목을 입력해주세요" maxlength="100" required></textarea>
                        </div>
                    </div>

                    <div class="section main">
                        <div class="sectiontitle">문제 설명*</div>
                        <textarea th:field="*{explanation}" name="main_Text" id="ucontent" placeholder="제한사항을 입력해주세요." required></textarea>
                    </div>

                    <div class="section main">
                        <div class="sectiontitle">제한사항*</div>
                        <textarea th:field="*{limitation}" name="main_Text" id="ucontent" placeholder="제한사항을 입력해주세요." required></textarea>
                    </div>

                    <div class="section objective">
                        <div id="in_content">
                            <div class="sectiontitle">입출력 예*</div>
                            <textarea th:field="*{ioEx}" name="content" id="ucontent" placeholder="입출력 예를 입력해주세요." required></textarea>
                        </div>
                    </div>

                    <div class="section objective">
                        <div id="in_content">
                            <div class="sectiontitle">입출력 예 설명*</div>
                            <textarea th:field="*{ioExplanation}" name="content" id="ucontent" placeholder="입출력 예에 대한 설명을 입력해주세요." required></textarea>
                        </div>
                    </div>

                    <div class="section objective">
                        <div id="in_content">
                            <div class="sectiontitle">제시 코드*</div>
                            <textarea th:field="*{presentCode}" name="content" id="ucontent" placeholder="미리 입력되어야 할 코드를 입력해주세요." required></textarea>
                        </div>
                    </div>

                    <div class="section objective">
                        <div id="in_content">
                            <div class="sectiontitle">정답 코드*</div>
                            <textarea th:field="*{solutionCode}" name="content" id="ucontent" placeholder="채점에 사용될 정답 코드를 입력해주세요." required></textarea>
                        </div>
                    </div>

                    <div class="section banner">
                        <div class="banner img">
                            <div class="sectiontitle">파일 업로드</div>
                            <input th:field="*{quizFile}" type="file">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- footer 타임리프 -->
    <footer th:replace="~{footer :: footerFragment}"></footer>


    <script th:src="@{/fragment.js}"></script>
    <script th:src="@{/CreateQuiz.js}"></script>
</body>

</html>