<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 등록</title>
    <link rel="stylesheet" th:href="@{/fragment.css}">
    <link rel="stylesheet" th:href="@{/CreateQuiz.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- 메인 네비바 타임리프 -->
    <nav th:replace = "~{navbar :: navbarFragment}"></nav>


    <!--  Main_Content 시작-->
    <div class="main">
        <div class="sectionBody">
                <div id="write_area">
                    <form enctype="" method="post">
                        <div class="sectionHeader">
                            <h4>퀴즈 등록</h4>
                            <button type="submit">다음</button>
                        </div>
                        <div class="section title">
                            <div class="selectBar">
                                <div class="title category">
                                    <select name="language" id="language">
                                        <option value="">-- 강의 선택 --</option>
                                        <option value="java">등록한 강의1</option>
                                        <option value="js">등록한 강의2</option>
                                        <option value="python">등록한 강의3</option>
                                        <option value="C">등록한 강의4</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="inTitle">
                                <div class="sectiontitle">제목*</div>
                                <textarea name="title" id="utitle" placeholder="제목을 입력해주세요" maxlength="100" required></textarea>
                            </div>
                        </div>

                        <div class="section main">
                            <div class="sectiontitle">문제 설명*</div>
                            <textarea name="main_Text" id="ucontent"  placeholder="제한사항을 입력해주세요." required></textarea>
                        </div>                        

                        <div class="section main">
                            <div class="sectiontitle">제한사항*</div>
                            <textarea name="main_Text" id="ucontent"  placeholder="제한사항을 입력해주세요." required></textarea>
                        </div>

                        <div class="section objective">
                            <div id="in_content">
                                <div class="sectiontitle">입출력 예*</div>
                                <textarea name="content" id="ucontent"  placeholder="입출력 예를 입력해주세요." required></textarea>
                            </div>
                        </div>

                        <div class="section objective">
                            <div id="in_content">
                                <div class="sectiontitle">입출력 예 설명*</div>
                                <textarea name="content" id="ucontent"  placeholder="입출력 예에 대한 설명을 입력해주세요." required></textarea>
                            </div>
                        </div>

                        <div class="section objective">
                            <div id="in_content">
                                <div class="sectiontitle">제시 코드*</div>
                                <textarea name="content" id="ucontent"  placeholder="미리 입력되어야 할 코드를 입력해주세요." required></textarea>
                            </div>
                        </div>

                        <div class="section objective">
                            <div id="in_content">
                                <div class="sectiontitle">정답 코드*</div>
                                <textarea name="content" id="ucontent"  placeholder="채점에 사용될 정답 코드를 입력해주세요." required></textarea>
                            </div>
                        </div>

                        <div class="section banner">
                            <div class="banner img">
                                <div class="sectiontitle">파일 업로드</div>
                                <input type="file" name="SelectFile bannerImg" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- 메인 footer, modal 타임리프 -->
    <footer th:replace = "~{footer :: footerFragment}"></footer>
    <div th:replace = "~{modal :: modalFragment}"></div >


    <script th:src="@{/fragment.js}"></script>
    <script th:src="@{/CreateQuiz.js}"></script>
</body>
</html>