<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 등록</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" th:href="@{/fragment.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- ***************************************************** Header_Content 
     ***************************************************** -->
   <nav th:replace = "~{navbar :: navbarFragment}"></nav>
   
       <!-- ***************************************************** MODAL
     ***************************************************** -->
     
		<main>
        <div class="Container">
            <div class="Content">
                    <p>Hello Again</p>
                    <p>email</p>
                    <form action="/user/login"  method="post">

                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                사용자ID 또는 비밀번호를 확인해 주세요.
                            </div>
                        </div>

                        <input name="username" id="username" type="text" placeholder="email">
                        <p>password</p>
                        <input name="password" id="password" type="password" placeholder="password">
                        <button type="submit">Login</button>
                    </form>

                    <div class="signCon">
                        <div class="signbtn">
                            <a th:href="@{/user/join}">
                                signIN
                            </a>
                        </div>
                        <div class="findbtn">
                            <a href="#">
                                Find ID/Password
                            </a>
    
                        </div>
                    </div>
            </div>
        </div>
    </main>
     
        <!-- ***************************************************** FOOTER
     ***************************************************** -->
     
        <footer th:replace = "~{footer :: footerFragment}"></footer>
     <!-- ***************************************************** MODAL
     ***************************************************** -->
    	<div th:replace = "~{modal :: modalFragment}"></div >
     
     
    <script th:src="@{/fragment.js}"></script>
</body>
</html>