<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/MainPageStyle.css}">
    <link rel="stylesheet" th:href="@{/fragment.css}">
</head>

<body>

	<!-- 로그인 모달창 타임리프-->
    <div th:replace = "~{modal :: modalFragment}"></div >
    <!-- 네비바 타임리프-->

    <nav th:replace = "~{navbar :: navbarFragment}"></nav>
    
    <!-- ***************************************************** Main_Content 
    ***************************************************** -->
	<div class="main">
        <!--*-*-*-*-*-*-*-*-* banner Slide *-*-*-*-*-*-*-*-*-->
        <div class="slideContainer">
            <ul class="slides">
                <li class="slide" th:each = "course : ${courseList}">
                	<a th:href="@{|course/${course.courseKey}|}">
                		<img th:each="file : ${course.fileList}" th:if ="${#strings.contains(file.fileurl,'banner')&& !#strings.isEmpty(file.fileOriName)}" th:src="@{|/image/banner/${file.filename}|}">
	           			<img th:each="file : ${course.fileList}" th:if ="${#strings.contains(file.fileurl,'banner')&& #strings.isEmpty(file.fileOriName)}" src="/image/noimage.png">
                		<div class="banner-text">
                    		<h1 th:text="${course.bannerText}"></h1>
                		</div>
                	</a>
                </li>
            </ul>
            <div class="slideBtn preBtn">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="slideBtn nextBtn">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
        <!--*-*-*-*-*-*-*-*-* section01_Contents *-*-*-*-*-*-*-*-*-->
        <div class="section section01">
            <div class="sectionText">
                <p>현재 인기 강좌</p>
                <a href="#">show more +</a>
            </div>
            <div class="sectionContainer">
                <ul class="sectionSlides">
                	<li class="sectionSlide" th:each = "course : ${courseList}">
                        <a class="sectionSlideContent" th:href="@{|course/${course.courseKey}|}">
                            <img th:each="file : ${course.fileList}" 
                            th:if ="${#strings.contains(file.fileurl,'Thumbnail')&& !#strings.isEmpty(file.fileOriName)}" th:src="@{|/image/Thumbnail/${file.filename}|}">
	           				<img th:each="file : ${course.fileList}" 
	           				th:if ="${#strings.contains(file.fileurl,'Thumbnail')&& #strings.isEmpty(file.fileOriName)}" src="/image/noimage.png">
	           				<span th:text ="${course.title}"></span>
	           				<span th:text="${course.member.nickname}"></span>
                        </a>
                    </li>
                </ul>
                <div class="slideBtn preBtn">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="slideBtn nextBtn">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>

        </div>
        <!-- section02  -->
        <div class="section section02">
            <div class="sectionText">
                <p>현재 인기 강좌</p>
                <a href="#">show more +</a>
            </div>
            <div class="sectionContainer">
                <ul class="sectionSlides">
                    <li class="sectionSlide" th:each = "course : ${courseList}">
                        <a class="sectionSlideContent" th:href="@{|course/${course.courseKey}|}">
                            <img th:each="file : ${course.fileList}" 
                            th:if ="${#strings.contains(file.fileurl,'Thumbnail')&& !#strings.isEmpty(file.fileOriName)}" th:src="@{|/image/Thumbnail/${file.filename}|}">
	           				<img th:each="file : ${course.fileList}" 
	           				th:if ="${#strings.contains(file.fileurl,'Thumbnail')&& #strings.isEmpty(file.fileOriName)}" src="/image/noimage.png">
	           				<span th:text ="${course.title}"></span>
	           				<span th:text="${course.member.nickname}"></span>
                        </a>
                    </li>
                </ul>
                <div class="slideBtn preBtn">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="slideBtn nextBtn">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>

        </div>
    </div>
    <!-- 메인 FOOTER-->
        <footer th:replace = "~{footer :: footerFragment}"></footer>

     
    <script th:src="@{/MainPageModul.js}"></script>
    <script th:src="@{/fragment.js}"></script>

</body>

</html>