
<div th:fragment ="modalFragment" class="modal loginModal">
        <div class="loginContainer">
            <div class="closeBtn">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="loginContent loginContent_left">
                <p>Hello Again</p>
                <p>email</p>
                <input type="text" placeholder="email">
                <p>password</p>
                <input type="password" placeholder="password">
                <button>Login</button>
                <div class="signContainer">
                    <div class="sign">
                    	<a th:href="@{/join}">
                            signIN
                        </a>
                    </div>
                    <div class="find">
                        <a href="#">
                            Find ID/Password
                        </a>

                    </div>
                </div>
            </div>
            <div class="loginContent loginContent_right"></div>
        </div>
    </div>