<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/Mypage.css}">
    <link rel="stylesheet" th:href="@{/fragment.css}">
    <script src="https://kit.fontawesome.com/86c06c2025.js" crossorigin="anonymous"></script>

</head>
<body>
     <!-- ***************************************************** Navbar
     ***************************************************** -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- ****************************** login_modal
    ***************************************************** -->
    <div th:replace = "~{modal :: modalFragment}"></div >
    <!-- ****************************** main
    ***************************************************** -->
    
    <div class = "sectionAll">
    	<div class="sectionTop">
    		<a id="profile" href="#">
    			<div class="profile">
    				<img src="/image/profileImg/FydJdeaqVboaAQJEYELvfRHdOwNkiyim.jpg">
    				<div class="name">
    					<span>군침이</span>
    					<span>ksl0718@nate.com</span>
    				</div>
    			</div>
    		</a>
    		<a id="subscription">
    			<span>정기권<br>구독하기</span>
    		</a>
    	</div>
    	<div class = "sectionBottom">
    		<div class = "sectionNav">
    			<a>
    				<div class="navBtn">
    					<span>구독 관리</span>
    				</div>
    			</a>
    			<a>
    				<div class="navBtn">
    					<span>회원 정보 관리</span>
    				</div>
    			</a>
    			<a>
    				<div class="navBtn">
    					<span>내 강의 관리</span>
    				</div>
    			</a>
    			<a>
    				<div class="navBtn">
    					<span>설정</span>
    				</div>
    			</a>
    			<a>
    				<div class="navBtn">
    					<span>로그아웃</span>
    				</div>
    			</a>
    		</div>
    		<div class = "sectionContent">
    		<h3>내 정보 관리</h3>
    			<form>
    				<label for="profileImg">
    					<div class="mainImg">
    						<img src="/image/profileImg/basicImg02.jpg">
    						<div class="subImg">
    							<img src="/image/modifyicon.jpg">
    						</div>
    					</div>
    				</label>
    				<input type="file" id="profileImg">
    				<div class="box">
  						<label for="nickname">닉네임</label>
 	 					<input type="text" id="nickname" name="nicknamename">
					</div>
    				<div class="box">
  						<label for="email">아이디</label>
 	 					<input type="text" id="email" name="email">
					</div>
    				<button type="submit">저장하기</button>
    			</form>	
    			<a id="signout">회원&nbsp탈퇴</a>
    		</div>
    	</div>
    </div>
    

        <!-- ***************************************************** FOOTER
     ***************************************************** -->
        <footer th:replace = "~{footer :: footerFragment}"></footer>
        
  <script th:src="@{/MypageModule.js}"></script>
  <script th:src="@{/fragment.js}"></script>

</body>
</html>