/* *********************** Reset_Style *********************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.stopScolling {
    height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    width: 100vw;
     justify-content:  center;
}

/**************** Main Banner Styles ****************/
.whole {
    color: #333;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-screen{
    width: 60rem;
}

.right-screen{
    width: 40rem;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.right-screen h2 {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.0rem
}

.right-con {
   position: sticky;
    top: 0px;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.promo {
	position: relative;
	width: 100rem;
	height: 30rem;
    display: flex;
    align-items: flex-end;
    margin-left: 15rem;
    margin-right: 15rem;
}
.promo>img{
	position: absolute;
	width: 100%;
  	height: 100%;
  	object-fit: cover;
}

.banner-text h1 {
	margin-left: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.banner-text p {
    font-size: 1.5rem;
}
.banner-text {
    z-index: 1;
}

/**************** 강좌 금액 ****************/

.lecture-pay-Nav {
    background-color: #f7f7f7;
    height: 40px;
    margin: 1.3rem;
    padding: 10px 30px;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lecture-pay-Nav li {
    margin: 0 15px; 
}

/**************** Text Header Styles ****************/
.text-header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.text-headerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-headerNav li {
    margin: 0 15px; 
}

.text-headerNav li a {
    color: #333;
    font-weight: 700;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.text-headerNav li a:hover {
    color: #0C4876;
    text-shadow: 2px 2px 2px #aec5d8;
}

/**************** Main Description Styles ****************/
.descript {
    padding: 20px;
}

.descript h2 {
    margin-top: 50px;
    font-size: 1.8rem;
    font-weight: bold;
}

.descript .subheading {
    font-size: 1.3rem;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: inset 0 -10px #def1d2;
}

.center-image {
    display: block;
    margin: 20px auto;
    border: 1px solid #fff;
    width: 50%;
    height: auto;
}

.descript ul {
    margin: 10px;
    padding: 10px;
} 

.descript ul li {
    margin: 10px 10px;
}

.descript .instructor-img{
    margin : 15px;
    border-radius: 50%;
}

.descript .instructor-introduction{
    margin-top: 10px;
    
}

.review-header{
	margin:0px;
	padding: 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/************** 강의추가 버튼 ***************/

.curriculum{
	margin:0px;
	padding: 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cur-button{
	margin-top:10px
}

.cur-btn{
	display: inline-block;
    background-color: #d9bbb8;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.cur-btn>a{
	 color : white;
	 font-weight: bold;
     font-size: 0.8rem;
	 
}

/************** star rate****************/
.star-rate{
   display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.point{
	font-size: 1rem;
	font-weight: bold;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.starimg{
    position: relative;
    padding-top: 0.5rem;
    color: rgba(211, 211, 211, 0.99);
    
}
.starcolor{
    position: absolute;
    padding-top: 0.5rem;
    top: 0;
    left: 0;
    overflow: hidden;
    color: rgba(250, 208, 0, 0.99);
}

/*****************수강평*****************/
.review-rate-container {
    display: flex;
    align-items: center;
}

.review-rate-star {
    position: relative;
    width: 5rem; 
    color: rgba(211, 211, 211, 0.99); 
}

.review-rate-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    overflow: hidden;
    color: rgba(250, 208, 0, 0.99); }

/************** 리뷰작성 버튼 ***************/

.rate-button{
	margin-top:10px
}

.rate-btn{
	display: inline-block;
    background-color: #d9bbb8;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.rate-btn:hover {
    transform: translateY(-3px);
}

.rate-btn>a{
	 color : white;
	 font-weight: bold;
     font-size: 0.8rem;
	 
}

.reviewContainer ul {
	border-top: #e9e1da solid 0.5px;
    border-bottom: #e9e1da solid 0.5px;
    margin:0px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
}

.review-el{
	display: flex;
    align-items: baseline;
    flex-direction: column;   
}

.review-el h3{
	margin-right: 10px
}


/**************** Button Styles ****************/
.button {
    text-align: center;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.signBtn {
    display: inline-block;
    background-color: #c2a2b4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color:white;
    padding: 15px 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: 0.3s;
}

.signBtn:hover {
    background-color: #608fb7;
    transform: translateY(-3px);
}



.lecBtn {
    display: inline-block;
    background-color: #c2a2b4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color:white;
    padding: 15px 50px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: 0.3s;
}

.lecBtn:hover {
    background-color: #608fb7;
    transform: translateY(-3px);
}

