/* ***************************************************** Reset_Style 
***************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.stopScolling {
    height: 100vh;
    overflow: hidden;
}


/* ********************************SECTION
***************************************************** */

body {
    background-color: #e9e1da;
}

.main {
    background-color: #e9e1da;
    border-bottom: 2px solid white;
}

.sectionHeader {
    width: 40rem;
    font-size: 1.5rem;
    color: rgb(65, 65, 65);
    border-bottom: 1px solid white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.sectionHeader>button {
    border-radius: 10px;
    width: 4rem;
    height: 2.5rem;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 1px gray;
    font-weight: 900;
}

.sectionHeader>button:hover {
    /* border: 5px solid rgb(100,130,173); */
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}

#write_area {
    width: 40rem;
}

.section {
    /* border: 1px solid lightgrey; */
    border-radius: 10px;
    padding: 1rem;
    justify-content: center;
}

.sectionBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border: none;
}

.selectBar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

form {
    text-align: center;
}

select {
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
}

textarea {
    background-color: rgb(246, 246, 246);
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(247, 246, 246);
    resize: none;
    width: 95%;
    padding: 1rem;
    margin: 2%;
}

.title>textarea {
    height: 1rem;
}

.review>textarea {
    height: 15rem;
}