label{
    margin: 0 15px 0 15px;
    width: 130px;
}

.checkbox-container .btn-secondary{
    background-color: rgb(233, 241, 255);
    border-color: rgb(219, 232, 254);
    color: black;
}

/* ********************** */
.like-container .btn{
    padding: 0.3rem;
    margin: 0.5rem;
}