label{
    margin: 0 15px 0 15px;
    width: 130px;
}

.checkbox-container .btn-secondary{
    background-color: #e7c2bf;
    border-color: #e7c2bf;
    color: black;
}

/* ********************** */
.like-container .btn{
    padding: 0.3rem;
    margin: 0.5rem;
}