/* ***************************************************** Header_Style ***************************************************** */

.header {

    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #e9e1da;
    top: 0;
    transition: .3s;
    z-index: 10;
    border-bottom: 2px solid white;
}

.header.color {
    background-color: #d9bbb8;
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* HeaderUp Style *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.headerUp {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/*-*-* header Logo *-*-*/

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo>a {
    display: block;
    color: rgb(63, 63, 63);
    font-size: 2rem;
}

.header.color>.headerUp>.headerLogo>a {
    color: white;
}


/*-*-* header Search *-*-*/

.headerSearchBar {
    display: flex;
    align-items: center;
}

.search {
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 0.5rem;
    /* border: 1px solid gray; */
    border: none;
    box-shadow: 1px 1px 2px rgb(187, 187, 187);
    height: 65%;
}

.searchBtn>button {
    display: block;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(73, 73, 73);
}

.header.color>.headerUp>.headerSearchBar>.searchBtn>a {
    color: white;
}


/*-*-* header Right *-*-*/

.headerRightCon {
    display: flex;
    align-items: center;
}

.headerRightCon>a {
    display: block;
    font-size: 1.2rem;
    color: rgb(73, 73, 73);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header.color>.headerUp>.headerRightCon>a {
    color: white;
}

.headerRightCon>a:last-child {
    padding-right: 0;
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* HeaderDown Style *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.headerDown {
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .3s;
}

.header.color>.headerDown {
    overflow: hidden;
}

.headerDown>ul {
    display: flex;
}

.headerDown>ul>li:first-child {
    padding-left: 0;
}

.headerDown>ul>li>a {
    color: rgb(100, 100, 100);
    font-weight: 900;
    font-size: 0.9rem;
    display: block;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.headerDown>ul>li>a:first-child {
    padding-left: 0;
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Header Category Style *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.categoryContainer {
    position: absolute;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: -10;
    height: 0;
    opacity: 0;
    transition: .5s;
}

.categoryContainer.on {
    z-index: 50;
    opacity: 1;

}

.categoryContainer>.category {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2rem;
    padding-top: 1rem;
    background-color: #d9bbb8f2;
}
.category>li{
    height: 90%;
    padding-right: 2rem;
    list-style-type: square;
    color: rgb(89, 89, 89);
    font-weight: 900;
}
.category>li>a {
    display: block;
    padding-right: 4rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
}


/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Header Hover Event *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.searchBtn>a:hover {
    transition: .2s;
    color: #608fb7;
    text-shadow: 2px 2px 2px white;
}

.header.color>.headerUp>.headerSearchBar>.searchBtn>a:hover {
    transition: .2s;
    color: #608fb7;
    text-shadow: 2px 2px 2px white;
}

.headerRightCon>a:hover {
    transition: .2s;
    color: #608fb7;
    text-shadow: 2px 2px 2px white;
}

.header.color>.headerUp>.headerRightCon>a:hover {
    transition: .2s;
    color: #608fb7;
    text-shadow: 2px 2px 2px white;
}

.headerDown>ul>li>a:hover {
    transition: .2s;
    color: #608fb7;
    text-shadow: 2px 2px 2px white;
}

/* ***************************************************** Footer_Style 
***************************************************** */

.footer {
    width: 100vw;
    background-color: #e9e1da;
    padding-left: 10vw;
    padding-right: 10vw;
}


/* footertop  */

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.footerLogo>a {
    color: rgb(80, 80, 80);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
}

.footerNav {
    display: flex;
}

.footerNav>li>a {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
    font-size: 0.9rem;
    color: rgb(80, 80, 80);
}

.footerSns {
    display: flex;
}

.footerSns>li>a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(80, 80, 80);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.footerSns>li:last-child>a {
    padding-right: 0;
}

.footerNav>li>a:hover {
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 2px gray;
}

.footerSns>li>a:hover {
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 2px gray;
}


/* footerBottom  */

.footerbottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footerbottom>.textBox {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.textBox>p {
    width: 50%;
    color: rgb(77, 77, 77);
    font-size: 0.8rem;
    font-weight: 900;
}

/* ***************************************************** Modal_Style 
***************************************************** */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    opacity: 0;
    transition: .5s;
}

.modal.on {
    opacity: 1;
    z-index: 100;
}

.loginContainer {
    width: 100%;
    height: 100%;
    background-color: #e9e1da;
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
}

.closeBtn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}

.loginContent_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
    padding-right: 7vw;
    border: 1px solid;
}

.loginContent_left>p {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
    font-size: 0.8rem;
    color: rgb(59, 59, 59);
}

.loginContent_left>p:first-child {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.loginContent_left>form>input {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px gray;
    padding-left: 1rem;
}

.loginContent_left>form>button {
    margin-top: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #608fb7;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 900;
    transition: .5s;
    box-shadow: 1px 1px 2px gray;
}

.loginContent_left>form>button:hover {
    background-color: #c2acb4;
}

.signContainer {
    padding-top: 0.5rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: end;
}

.sign>a {
    display: block;
    font-size: 0.8rem;
    font-weight: 900;
    color: gray;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    position: relative;
}

.sign>a::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -40%);
    height: 60%;
    border-right: 1px solid;
}

.find>a {
    display: block;
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    color: gray;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.sign>a:hover,
.find>a:hover {
    transition: .3s;
    color: #aa5e7a;
    text-shadow: 1px 1px 2px white;
}

.loginContent_right {
    background: url(img/loginBanner.jpg) center/cover no-repeat;
    width: 50%;
    height: 100%;
    border-radius: 0.5rem;
}