/* ***************************************************** Reset_Style 
***************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.stopScolling {
    height: 100vh;
    overflow: hidden;
}


/* ***************************************************** Main_Style 
***************************************************** */

.slideContainer {
    height: 35rem;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}

.slide {
    flex: 1;
    width: 100vw;
    overflow: hidden;
}

.slide>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: gray;
}

.slide>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.banner-text h1 {
    margin-left: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.banner-text p {
    font-size: 1.5rem;
}

.banner-text {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.slideBtn {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    opacity: 0.3;
    transition: .3s;
    border: 2px solid;
    color: white
}

.slideBtn:hover {
    cursor: pointer;
    opacity: 1;
    width: 3rem;
    height: 3rem;
    color: white;
}

.preBtn {
    left: 10vw;
}

.nextBtn {
    right: 10vw;
}


/************* Section Style ************/

.section {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #e9e1da;
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid white;
}

.sectionText {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sectionText>p {
    font-weight: 900;
    font-size: 1rem;
    color: rgb(63, 63, 63);
}

.sectionText>a {
    display: b;
    font-weight: 900;
    font-size: 0.8rem;
    color: rgb(63, 63, 63);
}

.sectionContainer {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}

.sectionSlides {
    display: flex;
    position: absolute;
    right: 100;
}

.sectionSlides>li {
    padding: 2rem;
}

.sectionSlideContent {
    display: block;
    height: 40vh;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgb(216, 216, 216);
    box-shadow: 1px 1px 2px gray;
}


/* 수정사항 */

.sectionSlideContent>span {
    display: block;
    width: 100%;
    padding-top: 1rem;
    color: rgb(53, 53, 53);
    font-weight: 900;
    padding-left: 1rem;
}

.sectionSlideContent>img {
    width: 100%;
    height: 70%;
}

.sectionContainer>.preBtn {
    left: 3rem;
}

.sectionContainer>.nextBtn {
    right: 3rem;
}


/* ***************************************************** Footer_Style 
***************************************************** */

.footer {
    width: 100vw;
    background-color: #e9e1da;
    padding-left: 10vw;
    padding-right: 10vw;
}


/* footertop  */

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.footerLogo>a {
    color: rgb(80, 80, 80);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
}

.footerNav {
    display: flex;
}

.footerNav>li>a {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
    font-size: 0.9rem;
    color: rgb(80, 80, 80);
}

.footerSns {
    display: flex;
}

.footerSns>li>a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(80, 80, 80);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.footerSns>li:last-child>a {
    padding-right: 0;
}

.footerNav>li>a:hover {
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 2px gray;
}

.footerSns>li>a:hover {
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px 2px gray;
}


/* footerBottom  */

.footerbottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footerbottom>.textBox {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.textBox>p {
    width: 50%;
    color: rgb(77, 77, 77);
    font-size: 0.8rem;
    font-weight: 900;
}


/* ***************************************************** Modal_Style 
***************************************************** */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    opacity: 0;
    transition: .5s;
}

.modal.on {
    opacity: 1;
    z-index: 100;
}

.loginContainer {
    width: 100%;
    height: 100%;
    background-color: #e9e1da;
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
}

.closeBtn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}

.loginContent_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
    padding-right: 7vw;
}

.loginContent_left>p {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
    font-size: 0.8rem;
    color: rgb(59, 59, 59);
}

.loginContent_left>p:first-child {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.loginContent_left>input {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px gray;
    padding-left: 1rem;
}

.loginContent_left>button {
    margin-top: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #608fb7;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 900;
    transition: .5s;
    box-shadow: 1px 1px 2px gray;
}

.loginContent_left>button:hover {
    background-color: #c2acb4;
}

.signContainer {
    padding-top: 0.5rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: end;
}

.sign>a {
    display: block;
    font-size: 0.8rem;
    font-weight: 900;
    color: gray;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    position: relative;
}

.sign>a::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -40%);
    height: 60%;
    border-right: 1px solid;
}

.find>a {
    display: block;
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    color: gray;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.sign>a:hover,
.find>a:hover {
    transition: .3s;
    color: #aa5e7a;
    text-shadow: 1px 1px 2px white;
}

.loginContent_right {
    background: url(img/loginBanner.jpg) center/cover no-repeat;
    width: 50%;
    height: 100%;
    border-radius: 0.5rem;
}