/************* Section Style ************/


/*****************검색 필터 관련 *************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.sectionBody {
    background-color: #e9e1da;
    ;
}

.searchContainer {
    width: 100vw;
    /* background-color: #aec5d8;
    border: 3px solid #608fb7; */
    border-radius: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.searchContainer>div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.searchTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchoption {
    margin-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 3px gray;
}

.searchTop>input {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 1px 1px 3px gray;
}

.categoryFilter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryFilter select,
p {
    margin-right: 1rem;
    font-size: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.3rem;
}

.categoryFilter>p {
    line-height: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterul {
    /* background-color: #608fb7;
    border: 1.5px solid #608fb7;
    border-radius: 7.5px; */
    display: flex;
}

.filterul li {
    font-size: 0.8rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 900;
    box-shadow: 1px 1px 3px gray;
    color: rgb(66, 66, 66);
    transition: .3s;
}

.filterselect.active {
    text-shadow: 1px 1px 1px white;
}

.filterul li:hover {
    background-color: #d9bbb8;
}

.filterul li:active {
    background-color: #d9bbb8;
}

label {
    cursor: pointer;
}

select {
    border: 1px solid lightgrey;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    width: 6rem;
}


/************************SECTION ****************************/

.sectionBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border: none;
}

.section {
    margin: 2rem;
}

.section01 {
    width: 90rem;
    /* 8월 22일 박호선 - SearchPage 추가 과정에서 SearchPage.css의
    searchContainer 크기만큼 height 추가하였습니다. */
    /* background-color:rgb(240, 236, 236); */
    padding-left: 15rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
}

.section02 {
    width: 90rem;
    /* background-color:rgb(240, 236, 236); */
    padding-left: 15rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
}


/* .section01{
    border-top: 3px solid white;
} */

.text {
    width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 900;
}

.text>a {
    display: block;
    height: 100%;
    color: #0c4876;
}

.text>p {
    font-size: 1.5rem;
    display: block;
    height: 100%;
    color: #0c4876;
}

.sectionCon {
    width: 85rem;
    /* height: 90%; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


/* ------컨테이너 관련---------- */

.con {
    width: 18rem;
    border: none;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.sectionCon01>.con {
    height: 15rem;
}

.sectionCon02>.con {
    height: 15rem;
}

.con>a {
    display: block;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.conImg {
    width: 100%;
    height: 80%;
    border-radius: 1rem;
}

.conImg>img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover
}

.conText {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.conText>img {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    /* height:; */
}

.conInfo {
    margin-top: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: start;
}

.conInfo>p {
    font-size: 1rem;
    margin: 0%;
}

.conInfo>span {
    font-size: 0.6rem;
}